<div class="button card"
     [class.has-image]="!!props?.image"
     [class.has-label]="!!props?.label">

  @if (props?.image) {
    <ion-img [src]="props.image" class="fill"></ion-img>
  }

  @if (props?.label && props?.subLabel) {
    <div class="center">
      <ion-icon class="big-icon" [name]="props.icon"></ion-icon>
      <div class="stack">
        <span class="subTitle">{{ props.label | uppercase }}</span>
        <span class="title">{{ props.subLabel | uppercase }}</span>
      </div>
    </div>
  }
  @else if (props?.title || props?.subTitle) {
    <div class="content">
      <div class="line">
        @if (props?.icon) {
          <span class="icon-circle"><ion-icon [name]="props.icon"></ion-icon></span>
        }
        <div class="stack">
          <div class="subtitle">{{ props.subTitle }}</div>
          <div class="title">{{ props.title | uppercase }}</div>
        </div>
      </div>
    </div>
  }
  @else {
    <div class="empty-bar"><div class="block"></div></div>
  }
</div>
