<ion-header class="ion-no-border header">
  <ion-toolbar class="toolbar">
    <ion-menu-button slot="start"/>
    <ion-title class="toolbar-logo">LOGO</ion-title>
    <ion-button slot="end" shape="round" size="small" fill="clear" size="small">
      <ion-icon name="notifications-sharp" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <div class="user-info">
    <ion-grid class="user-grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar class="avatar">
            <img alt="Foto" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>  
        <ion-col>
          <ion-label class="name">Leonardo Santos</ion-label>
          <div class="level">Nível Roxo</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="objectives">
    <ion-button class="button" shape="round" color="contrast">
      <span>MEU CORPO</span>
      <span>OBJETIVOS E CONQUISTAS</span>
    </ion-button>
  </div>
</ion-header>