<div class="container">
  <div class="title">
    <ion-title>{{ title }}</ion-title>
    @if (badge) { 
      <ion-badge>{{ badge }}</ion-badge> 
    }
    @if (sectionIcon) { 
      <ion-icon [name]="sectionIcon" color="primary"/> 
    }
  </div>

  <swiper-container
    class="swiper"
    slides-per-view="1.5"
    centered-slides="false"
    initial-slide="0"
    grab-cursor="true"
    slides-offset-before="16"
    slides-offset-after="0"
    space-between="1"
  >
    @for (item of items; track item) {
      <swiper-slide>
        <app-home-button [props]="item"/>
      </swiper-slide>
    }
  </swiper-container>
</div>
