.container {
    margin-top: 30px;
    .title {
        margin-bottom: 5px;
        ion-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-left: 20px;
        }
        ion-badge {
            border-radius: 50px;
            color: var(--ion-color-contrast);
        }
        ion-icon {
            width: 30px;
            height: 30px;
        }
        display: inline-flex;
        align-items: center;
    }
}